<html>
<head>
    <title>Inbox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DBB630;">
    <div class="container-fluid">
      <a class="navbar-brand" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 150%;" href="{% url 'mysocial:login' %}">MySocial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:public_profile' author.authorId %}">Profile</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:inbox' author.authorId %}">Inbox</a>
            </li>
          </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:posts_by_author' author.authorId %}">Stream</a>
            </li>
          </ul>
      </div>
    </div>
</nav>

<body class="h-100 gradient-form" style="background-color: #01579B; color: #FAFAFA;"></body>
    {% for request in follow_requests %}
        <div>
            <p>{{ request.actor.displayName }} wants to follow you.</p>
            <form  method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Approve</button>
            </form>
            <form  method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Reject</button>
            </form>
        </div>
    {% empty %}
        <p>You have no follow requests.</p>
    {% endfor %}
</body>
</html>