<html>
<head>
    <title>Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
        .post-card {
            margin-bottom: 20px;
        }
        .post-header, .post-footer {
            background-color: #f8f9fa;
            padding: 10px;
        }
        .post-content {
            padding: 20px;
        }
        .form-section {
            display: none; /* Initially hide the form */
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .btn-edit {
            background-color: #007bff; /* Bootstrap primary blue */
            color: white;
        }
        .btn-edit:hover {
            background-color: #0056b3; /* Darker blue on hover */
            color: white;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DBB630;">
    <div class="container-fluid">
      <a class="navbar-brand" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 150%;" href="{% url 'mysocial:login' %}">MySocial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:public_profile' request.user.author.authorId %}">Profile</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:inbox' request.user.author.authorId %}">Inbox</a>
            </li>
          </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:posts_by_author' request.user.author.authorId %}">Stream</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:remote'%}">Connect</a>
            </li>
          </ul>
      </div>
    </div>
</nav>

<body class="h-100 gradient-form" style="background-color: #01579B;">
    <div class="text-center" style="color: #faFafa;">
    <div class="center">
    <div class="posts-container">
        <div class="card post-card" id="post-{{ post.id }}">
            <div class="card-header post-header">
                <h5 class="post-title">{{ post.title }}</h5>
            </div>
            <h6 id="author-info">By: <a href="{% url 'mysocial:public_profile' post.author.authorId %}" >
                {{ post.author.displayName }}
                </a>
                {% if post.source %}
                <script>
                    // Update author information if source exists
                    sourceUrl = "{{ post.source }}";
                    authorElement = document.getElementById('author-info');
                    updateAuthorInfo(sourceUrl, authorElement);
                    
                    async function updateAuthorInfo(sourceUrl, authorElement) {
                        urlParts = sourceUrl.split('/');
                        authorId = urlParts[urlParts.length - 3]; 
                        console.log(authorElement);
                        const response = await fetch(`/mysocial/authors/${authorId}`)
                        let data = await response.json()
                        if (data.authorId !== null || data.authorId !== undefined) {
                            authorElement.innerHTML = `By: <a href="/mysocial/profile/${data.authorId}/">${data.displayName}</a>`;
                        }

                    }
                </script>
                {% endif %}
            <!-- Edit Button -->
            {% if author.authorId == post.author.authorId %}
            <button style = "margin-left: 10px;" onclick="editPost('{{ post.id }}', '{{ post.title|escapejs }}', '{{ post.content|escapejs }}');" class="btn btn-sm btn-edit">Edit</button>
            {% endif %}
            </h6>
            <div class="card-body post-content" id="post-content-{{ post.id }}">
                {% if post.image %}
                    <!-- Image -->
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100px;">
                {% else %}
                    <!-- Text or Commonmark Post -->
                    <div class="markdown-content">{{ post.content }}</div>
                {% endif %}
            </div>
            <div class="card-footer post-footer d-flex justify-content-between align-items-center">
                <div class="post-interactions d-flex align-items-center">
                    <form action="{% url 'mysocial:like_post' post.postId %}" method="post" class="me-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-edit">Like</button>
                    </form>
                    {% if author.authorId == post.author.authorId %}
                    <form action="{% url 'mysocial:delete_post' post.postId %}" method="post" class="me-2">
                        {% csrf_token %}
                        <button style="background-color: #E53935;" type="submit" class="btn btn-sm btn-edit">Delete</button>
                    </form>
                    {% endif %}
                    <span class="like-count me-2">{{ post.likesCount }} Likes</span>
                </div>
                <small class="text-muted">Published: {{ post.published }}</small>
            </div>
            <div class="comments-section">
                <h5>Comments:</h5>
                {% for comment in comments %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{ comment.author.displayName }} - {{ comment.published }}</h6>
                            <p class="card-text">{{ comment.comment }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>

            <div class="comment-form">
                <form action="{% url 'mysocial:comment_post' post.author.authorId post.postId %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" name="comment" placeholder="Write your comment here..." required></textarea>
                    <input type="submit" class="btn btn-primary mt-2" value="Post Comment">
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>