<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySocial - Stream</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
        .post-card {
            position: relative;
            margin-bottom: 20px;
        }
        .post-header, .post-footer {
            background-color: #f8f9fa;
            padding: 10px;
        }
        .post-content {
            padding: 20px;
        }
        .form-section {
            display: none; /* Initially hide the form */
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .btn-edit {
            background-color: #007bff; /* Bootstrap primary blue */
            color: white;
        }
        .btn-edit:hover {
            background-color: #0056b3; /* Darker blue on hover */
            color: white;
        }
        .delete-btn {
        position: absolute;
        top: 10px; /* Adjusted for better positioning */
        right: 10px; /* Adjusted for better positioning */
        border: none;
        background-color: transparent;
        color: #E53935; /* Red color for the icon */
        cursor: pointer;
        font-size: 1.5em; /* Increase the size of the icon */
        }
        .delete-btn:hover {
            color: #b71c1c; /* Darker shade of red for hover */
            transform: scale(1.1); /* Optional: Slightly enlarge on hover */
        }
        /* If you want the icon bolder, most icon fonts inherit the font-weight, so: */
        .delete-btn i {
            font-weight: bold; /* Make the icon bolder */
        }
        

        .navbar {
            border-radius: 0.25rem;
        }
    
        .navbar {
            background-color: #546E7A;
            padding: 0.5rem 1rem;
        }
    
        .navbar-brand {
            font-family: 'Nunito', sans-serif;
            font-size: 1.75rem;
        }
    
        .nav-link {
            font-size: 1rem;
            color: #8D99AE;
        }
    
        .nav-link.active {
            color: #3F88C5;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DBB630;">
    <div class="container-fluid">
      <a class="navbar-brand" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 150%;" href="{% url 'mysocial:login' %}">MySocial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:public_profile' request.user.author.authorId %}">Profile</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:inbox' request.user.author.authorId %}">Inbox</a>
            </li>
          </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:posts_by_author' request.user.author.authorId %}">Stream</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:remote'%}">Connect</a>
            </li>
          </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:friends_list' author.authorId %}">Friends</a>
            </li>
        </ul>
        {% if viewing_own_profile %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link active" style ="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 125%;" href="{% url 'mysocial:edit_profile' author.authorId %}">Edit Profile</a>
                </li>
            </ul>
        {% endif %}
      </div>
    </div>
</nav>

<body class="h-100 gradient-form" style="background-color: #01579B;">


    <div class="text-center" style="color: #faFafa;">
        <div class="center">
            <h1 style = "font-family: Georgia;">Stream</h1>
            <div class="tab">
                <!-- Form for showing all posts -->
                <form action="" method="get">
                    <button style= "margin-bottom: 15px; background-color:#DBB630; color:#0056b3; font-family: Georgia;" type="submit" name="action" value="all">All Posts</button>
                    <button style= "margin-bottom: 15px; background-color:#DBB630; color:#0056b3; font-family: Georgia;" type="submit" name="action" value="friends">Friends</button>
                </form>

                </div>
            <!-- Form Section for Creating and Editing Posts -->
            <div id="postFormSection" class="form-section">
                <h2 id="formTitle" style="color: black;">Create New Post</h2>
                <form id="postForm" action="{% url 'mysocial:create_post' authorId=author.authorId %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="postId" name="post_id" value=""> <!-- Hidden field for post ID (empty for new posts) -->
                    <h5 style="color: black; text-align: left;">Title</h5>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <h5 style="color: black; text-align: left;">Description</h5>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="2"></textarea>
                    </div>                    
                    <h5 style="color: black; text-align: left;">Content</h5>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                    </div>
                    <h5 style="color: black; text-align: left;">Visibility</h5>
                    <div class="mb-3">
                        <label for="visibility" class="form-label">Visibility</label>
                        <select class="form-select" id="visibility" name="visibility" required>
                            <option value="PUBLIC">Public</option>
                            <option value="PRIVATE">Private</option>
                            <option value="UNLISTED">Unlisted</option>
                        </select>
                    </div>
                    <!-- Add File Input for Image Upload -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="mb-3 form-check" style="display: flex; justify-content: flex-start; align-items: center;">
                        <input type="checkbox" class="form-check-input" id="markup" name="markup" style="margin-right: 10px;">
                        <label class="form-check-label" for="markup" style="color: black;">Interpret as Markdown</label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="toggleForm();">Cancel</button>
                </form>
            </div>
            <!-- Posts Container -->
            <div class="posts-container">
                {% for post in posts %}
                    {% if post.visibility != 'UNLISTED' or post.author.authorId == author.authorId %}
                        <div class="card post-card" id="post-{{ post.id }}">
                            <div class="card-header post-header">
                                <!-- Display message if post.source exists -->
                                {% if post.source %}
                                <div style="font-size: 12px; color: #555; margin-bottom: 5px;">
                                    This post was shared by {{ post.author.displayName }}
                                </div>
                                {% endif %}
                                <h5 class="post-title">
                                    <a href="{% url 'mysocial:post_detail' authorId=post.author.authorId post_id=post.postId %}">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <h6 id="author-info-{{ forloop.counter }}">By: <a href="{% url 'mysocial:public_profile' post.author.authorId %}">
                                    {{ post.author.displayName }}
                                    </a>
                                </h6>
                                <p class="post-description">{{ post.description }}</p>
                                {% if post.source %}
                                <script>
                                    // Update author information if source exists
                                    sourceUrl = "{{ post.source }}";
                                    authorElement = document.getElementById('author-info-{{ forloop.counter }}');
                                    updateAuthorInfo(sourceUrl, authorElement);
                                    
                                    async function updateAuthorInfo(sourceUrl, authorElement) {
                                        urlParts = sourceUrl.split('/');
                                        authorId = urlParts[urlParts.length - 3]; 
                                        console.log(authorElement);
                                        const response = await fetch(`/mysocial/authors/${authorId}`)
                                        let data = await response.json()
                                        if (data.authorId !== null || data.authorId !== undefined) {
                                            authorElement.innerHTML = `By: <a href="/mysocial/profile/${data.authorId}/">${data.displayName}</a>`;
                                        }
                
                                    }
                                </script>
                                {% endif %}
                                <!-- Edit Button -->
                                {% if author.authorId == post.author.authorId %}
                                <button onclick="editPost('{{ post.postId }}', '{{ post.title|escapejs }}', '{{ post.description|escapejs }}', '{{ post.content|escapejs }}', '{{ post.visibility }}');" class="btn btn-sm btn-edit">Edit</button>
                                <form action="{% url 'mysocial:delete_post' post.postId %}" method="post" style="position: absolute; top: 10px; right: 10px;">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-btn" title="Delete Post">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                                {% endif %}
                                </h6>
                            </div>
                            <div class="card-body post-content">
                                {% if post.image %}
                                    <!-- Image -->
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100px;">
                                {% else %}
                                    <!-- Text or Commonmark Post -->
                                    <div class="markdown-content">{{ post.content }}</div>
                                {% endif %}
                            </div>
                            <div class="card-footer post-footer d-flex justify-content-between align-items-center">
                                <div class="post-interactions d-flex align-items-center">
                                    <form action="{% url 'mysocial:like_post' post.postId %}" method="post" class="me-2">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-edit">Like</button>
                                    </form>
                                    {% if post.author.authorId != author.authorId and post.visibility == 'PUBLIC' %}
                                        <form action="{% url 'mysocial:share_post' post.postId %}" method="post" class="me-2">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-edit">Share</button>
                                        </form>
                                    {% endif %}
                                    <span class="like-count me-2">{{ post.likesCount }} Likes</span>
                                </div>
                                <small class="text-muted">Published: {{ post.published }}</small>
                            </div>

                            <div class="comments-section">
                                <a href="{% url 'mysocial:post_detail' authorId=post.author.authorId post_id=post.postId %}" class="btn btn-sm btn-primary">View Comments</a>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
            <!-- Floating Action Button for New Post -->
            <a href="javascript:void(0);" onclick="newPost();" class="btn btn-primary rounded-circle" style="background-color: #DBB630; color:#0056b3;
            position: fixed; bottom: 20px; right: 20px; z-index: 100; font-size: 24px;">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
        function toggleForm() {
            var formSection = document.getElementById("postFormSection");
            formSection.style.display = formSection.style.display === "none" ? "block" : "none";
        }

        function newPost() {
            document.getElementById("formTitle").innerText = "Create New Post";
            document.getElementById("postId").value = ""; // Clear post ID for new posts
            document.getElementById("title").value = "";
            document.getElementById("description").value = "";
            document.getElementById("content").value = "";
            document.getElementById("visibility").value = "";
            toggleForm();
        }

        function editPost(postId, title, description, content, visibility) {
            document.getElementById("formTitle").innerText = "Edit Post";
            document.getElementById("postId").value = postId;
            document.getElementById("title").value = title;
            document.getElementById("description").value = description;
            document.getElementById("content").value = content;
            document.getElementById("visibility").value = visibility; // Set the visibility dropdown
            toggleForm();
        }



        document.addEventListener('DOMContentLoaded', (event) => {
        const renderer = new marked.Renderer();
        marked.setOptions({
            renderer: renderer,
            gfm: true,
            sanitize: false 
        });
        document.querySelectorAll('.markdown-content').forEach((element) => {
            const rawMarkdown = element.textContent;
            element.innerHTML = marked.parse(rawMarkdown);
        });
    });

        
    </script>
</body>
</html>
